div{
    height: 100px;
    width: 100px;
    background-color: blueviolet;
    position: absolute;
    transition: all 2s ease-in;
    /*transform:rotate(45deg);*/
   /* transform:rotatey(45deg);*/
   /*transform:scale(1,2);*/
  
    top: 100px;
    left: 100px;
}
div:hover{
    background-color: red;
    transform:translate(100px,80px);
    transform: skew(175deg);
}